<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" type="email" />
    <mat-error *ngIf="email?.errors?.['required']">Email is required</mat-error>
    <mat-error *ngIf="email?.errors?.['email']"
      >Invalid email address</mat-error
    >
  </mat-form-field>

  <mat-form-field appearance="outline" class="passwordInput">
    <mat-label>Password</mat-label>
    <input matInput formControlName="password" type="password" />
    <mat-error *ngIf="password?.errors?.['required']"
      >Password is required</mat-error
    >
    <mat-error class="patternMessage" *ngIf="password?.errors?.['pattern']"
      >Password must contain:<br />
      • 1 uppercase & 1 lowercase letter<br />
      • 1 number & 1 special character<br />
      • At least 8 characters
    </mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Login</button>
</form>
