<mat-sidenav-container class="app-container">
  <mat-sidenav mode="side" opened class="sidenav">
    <mat-toolbar color="primary">TCS</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/home" routerLinkActive="active-link"
        >Home</a
      >
      <a mat-list-item routerLink="/dashboard" routerLinkActive="active-link"
        >Dashboard</a
      >
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
